{% load static %}
{% block content %}
<title>Login</title>
<link href="{% static 'css/login.css' %}" rel="stylesheet"/>
<header>
  <p>Aries studios</p>
</header>
<body class="img" style="background-image: url('{% static 'assets/img/fundo.jpg'%}')">
</body>
<div class="log">
  <div class="item-log">
  <h1>LOGIN</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <label for="email" class="emaili">
      <input type="email" placeholder="Email">
    </label>
    <br>
    <br>
    <label for="password"><input type="password" placeholder="Senha">
    </label>
    <br>
    <br>
    <button class="btn" type="submit">Login</button>
    <br>
    <button class="btn-pass" type="submit">Esqueçeu sua senha?</button>
    <br>
    <button class="btn-cad" type="submit">Criar uma Conta</button>
  </form>
</div>
</div>
{% endblock %}