body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.916), rgb(98, 98, 98));
}
h1{
    font-family:sans-serif;
    margin-top: 70px;
    font-size: 60px;
    color: white;
}
.log{
    background-image: linear-gradient(280deg, rgba(0, 0, 0, 0.587), rgb(39, 38, 38));
    width: 100vh;
    height: 90vh;
    text-align: center;
    border-radius: 30px;
}

input{
    padding: 10px;
    width: 250px;
    border-radius: 10px;
}
input::before::placeholder{
    color: white;
}
.btn{
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
}
.btn-pass{
    border-color: white;
    margin: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 15px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
}


.btn:hover{
    transition: 0.7s;
    width: 255px;
    height: 55px;
    opacity: 0.5;
}


