body{
    display: flex;
    justify-content: right;
    background-color: black;
    font-family:helvetica,arial,sans-serif;

}
h1{
    margin-top: 70px;
    font-size: 60px;
    color: white;
}
.log{
    background-color: rgba(1, 1, 66, 0.1);
    width: 100vh;
    height: 90vh;
    text-align: center;
    border-radius: 30px;
    backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.img{
    background-size:cover;
    background-position: left;
}

input{
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.087);
    font-size: 15px;
    font-weight: bold;
    color: white;
}
input:hover{
    background-color: rgba(255, 255, 255, 0.32);
}
input::placeholder{
    color: rgba(220, 220, 220, 0.749);
    font-size: 15px;
    font-weight: bold;
}
.btn{
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
}
.btn-pass{
    border-color: white;
    margin: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 15px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
}
.btn-pass:hover{
    background-color: rgb(31, 31, 31);
}

.btn:hover{
    transition: 0.7s;
    width: 255px;
    height: 55px;
    opacity: 0.5;
}
.t1{
    text-align: left;
    display: flex;
}

